/**
 * Instats Styles
 */

// ====================
//      Variables
// ====================

// === Element Properties ===
@headerHeight: 75px;
@statComponentHeight: 100px;

// === Colors ===
@gray: #EDEEEB;
@darkGray: #252525;
@red: #e11f2a;
@brightRed: #EC0406;

// Element Colors

// === Fonts ===
@Railway: 'Raleway', sans-serif;
@SourceSansPro: 'Source Sans Pro', sans-serif;

// Element Fonts

// ====================
//    Common Styles
// ====================

body {
	font-family: @Railway;
}

.header {
	.header-col {
		height: @headerHeight;
	}
}

.stat {
	height: @statComponentHeight;
	background-color: @gray;
}

// ====================
//   Specific Styles
// ====================

.overview {
	height: 200px;
	padding: 0px 5px 0px 5px;
	background-color: @gray;
}